.ce {
    width: 1168px;
    margin: auto;
}

body {
    height: 5000px;
    background-color: rgb(234, 232, 235);
}

.header {
    /* position: fixed;
    z-index: 2; */
    position: relative;
    z-index: 2;
    height: 45px;
    background-color: rgb(51, 51, 51);
    width: 100%;
}

.nav {
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: default;
}

.header .nav .left .nav1 {
    /* color: #fff; */
    border-right: 1px solid #a0a0a0;
}

.header .nav .left .nav3 {
    color: #fff;
    border-right: 1px solid #a0a0a0;
}

.header .nav .left {
    float: left;
}

.header .nav .right {
    float: right;
    margin-right: 40px;
}

.header .nav a[class^="nav"] {
    display: inline-block;
    /* background-color: ; */
    padding: 0 20px;
    font-size: 18px;
    color: #a0a0a0;
    border-right: 1px solid;
}

.header .nav a:first-child {
    border-left: 1px solid #a0a0a0;
}

.header .nav .left a:hover {
    color: #fff;
    border-right: 1px solid #a0a0a0;
}

.header .nav .right p {
    display: inline-block;
    font-size: 20px;
    color: #a0a0a0;
    cursor: default;
}

.header .nav .right a[class^="user"] {
    display: inline-block;
    /* background-color: ; */
    padding: 0 10px;
    border: 0;
    font-size: 18px;
    color: #a0a0a0;

}

.header .nav .right a[class^="user"]:hover {
    color: #fff;
}

.header .nav .right .bigu {
    /* float: right; */
    height: 45px;
    width: 45px;
    /* background-color: pink; */
    margin: 0px;
    border-radius: 50%;
    transition: all 0.3s;
    position: absolute;
    z-index: 999;
    right: 0px;
}


.header .nav .right .uimg {
    float: right;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
}

.header .nav .right .uimg:hover .ulist {
    display: block;
}

.header .nav .right .uimg .biguu {
    position: absolute;
    z-index: 999;
}

.header .nav .right .uimg .ulist {
    display: none;
    position: absolute;
    z-index: 10;
    top: 45px;
    right: -80px;
    z-index: 999;
    width: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.header .nav .right .uimg .ulist .uh {
    border-bottom: 1px solid rgba(51, 51, 51, .5);
}

.header .nav .right .uimg .ulist .um {
    text-align: left;
    text-indent: 20px;
    line-height: 35px;
}

.header .nav .right .uimg .ulist .um li a {
    color: rgb(153, 154, 170);
    text-align: left;
}

.header .nav .right .uimg .ulist .um .btm {

    border-bottom: 1px solid rgba(51, 51, 51, .5);
}

.header .nav .right .uimg .ulist .um ul li:hover {
    background-color: rgb(240, 240, 245);
}

.header .nav .right .bigu:hover {
    transform: scale(1.05, 1.05);
    z-index: 999;
}

/* header从这里结束 */
/* 以下是main */
.main {
    background-color: #fff;
    /* height: 5000px; */
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .1);
}

.h {
    position: relative;
    right: 380px;
    font-size: 35px;
    font-weight: 300;
    border-bottom: 1px solid rgba(51, 51, 51, .5);
    width: 100000px;
}

.main div[class^=main] {
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.main div[class^=main] i {
    font-size: 20px;
    line-height: 37px;
    margin-left: 10px;
}

.main .main1 {
    float: left;
    height: 250px;
    width: 500px;
    margin-left: 70px !important;
}

.main .main2 {
    float: left;
    height: 250px;
    width: 500px;
}

.main .main3 {
    float: left;
    height: 400px;
    width: 700px;
    margin-left: 240px !important;
}

.main .main4 {
    float: left;
    height: 300px;
    width: 80%;
    margin-left: 120px !important;
}